.panel.panel-default
  .panel-heading 
    Top 50 highest balances
  .panel-body
    %p This shows an approximation of the 'richest' Mastercoin addresses. All the details are by approximation.
  %table.table-condensed.table
    %tr
      %th Address
      %th Balance
      %th Percentage
    -@addresses.each do |address|
      %tr
        %td=link_to address.name, address_path(address.name)
        %td=number_to_currency(address.balance)
        %td="#{address.percentage}%"
