// Place all the styles related to the advisor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form label {
  display: block
}
