%h2
  Selling Offer information
  %small=params[:id]

.row
  .col-md-6
    .panel.panel-default
      .panel-heading Basic Information
      %table.table
        %tr
          %th From
          %td=link_to @transaction.address, address_path(@transaction.address)
        %tr
          %th Price per coin
          %td=number_to_currency(@transaction.price_per_coin, unit: "฿")
        %tr
          %th Amount
          %td=@transaction.amount
        %tr
          %th Amount available
          %td=@transaction.amount_available
        %tr
          %th Bitcoin amount desired
          %td=number_to_currency(@transaction.amount_desired, unit: "฿")
        %tr
          %th Fee required
          %td=number_to_currency(@transaction.required_fee, unit: "฿")
        %tr
          %th Block time limit
          %td=@transaction.time_limit
  .col-md-6
    .panel.panel-default
      .panel-heading Information
      %table.table
        %tr
          %th Currency
          %td=@transaction.currency
        %tr
          %th Transaction type
          %td Selling Offer
        %tr
          %th Block time
          %td=@transaction.tx_date
        %tr
          %th Valid
          %td=raw valid_label(@transaction)
        %tr
          %th Position
          %td=@transaction.position
        %tr
          %th Is multisig Mastercoin
          %td=@transaction.multi_sig? ? "Yes" : "No"

-if @transaction.purchase_offers.any?
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading Bids on this offer
        %table.table
          %tr
            %th Transaction
            %th Amount bought
            %th Status
            %th Date
            %th Block
          -@transaction.purchase_offers.order("app_position DESC").each do |offer|
            %tr
              %td=link_to truncate(offer.tx_id), transaction_path(offer.tx_id)
              %td=offer.amount
              %td{class: offer.status_class}=offer.status_text
              %td=offer.tx_date
              %td=offer.block_height
